-# Handcrafted by Aydar N.
-# 2023
-#
-# me@aydar.media
-#

.list.white-block
	- quantity.times do |i|
		.list-element.scaling
			%div
				%h3= t title.sub('<index>', i.to_s)
				%p= t subtitle.sub('<index>', i.to_s)
				= render 'blocks/button', title: t(button_title.sub('<index>', i.to_s)), link: button_links&.dig(i), show_arrow: true
			= image_tag image.sub('<index>', i.to_s)
