-# Handcrafted by Aydar N.
-# 2023
-#
-# me@aydar.media
-#

.title
	.content
		= render 'blocks/button', title: button_title, link: button_link, show_arrow: button_arrow
		.text
			%h1= explode_span title, 'stretching'
			%p= subtitle
