-# Handcrafted by Aydar N.
-# 2023
-#
-# me@aydar.media
-#

= render 'blocks/title', button_title: t('global.to_home'),
	button_arrow: false,
	button_link: root_url,
	title: t('.title'),
	subtitle: t('.subtitle')
= render 'blocks/grid',
	rows: 'three',
	quantity: 11,
	image: 'posters/<index>.png',
	title: 'pages.events.list.<index>.title',
	subtitle: 'pages.events.list.<index>.description',
	subtitle_append: ' / 20.04.2023'
