-# Handcrafted by Aydar N.
-# 2023
-#
-# me@aydar.media
-#

= render 'blocks/title',
	button_title: t('global.english'),
	button_arrow: true,
	button_link: root_url,
	title: t('.title_html'),
	subtitle: t('.subtitle')
= render 'blocks/list',
	quantity: 3,
	title: "pages.index.news.<index>.title",
	subtitle: "pages.index.news.<index>.body",
	button_title: "pages.index.news.<index>.button",
	button_links: [root_url + 'model-a', root_url + 'store', root_url + 'space'],
	image: 'news/<index>.jpg'
.form.oneline
	%h1= explode_span t('.form.title'), 'stretching'
	.white-block.unequal
		%input.affect-cursor{ type: 'text', placeholder: t('.form.placeholder') }
			= render 'blocks/button', title: t('.form.submit'), link: nil, show_arrow: false, alert: t('.form.alert')
