-# Handcrafted by Aydar N.
-# 2023
-#
-# me@aydar.media
-#

= render 'blocks/title',
	button_title: t('global.to_home'),
	button_arrow: false,
	button_link: root_url,
	title: t('.title'),
	subtitle: t('.subtitle')
= render 'blocks/grid',
	rows: 'two',
	quantity: 7,
	image: 'items/<index>.jpg',
	title: 'pages.store.list.<index>.title',
	subtitle: 'pages.store.list.<index>.description',
	corner: 'pages.store.list.<index>.corner'
.white-block.note.unequal
	%p= t '.prompt.title'
	= render 'blocks/button', title: t('.prompt.button'), link: root_url + 'space', show_arrow: true