/*************************
Handcrafted by Aydar N.
2023

me@aydar.media

*************************/

@font-face {
    font-family: 'Skip Display';
    src: font-url('SkipDisplay-Regular.woff2') format('woff2'),
         font-url('SkipDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
