// Handcrafted by Aydar N.
// 2023
//
// me@aydar.media
//

.form {
  & {
    margin-top: 80px;
  }
  > h1 {
    position: relative;
  }
  > div {
    position: relative;
    display: flex;
    margin-top: -40px;
    z-index: 10;
  }
  &.oneline > div {
    justify-content: space-between;
    align-items: center;
  }
  &.multiline > div {
    & {
      flex-direction: column;
      gap: 16px;
    }
    > div {
      display: flex;
      gap: 10px;
    }
    > a {
      margin-top: 40px;
    }
    input {
      max-width: 480px;
    }
  }
}
