// Handcrafted by Aydar N.
// 2023
//
// me@aydar.media
//

.grid {
  & {
    display: grid;
    row-gap: 140px;
    column-gap: 50px;
  }

  &.three-rows {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  &.two-rows {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  > a {
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
  }

  h2 {
    margin-top: 8px;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
