// Handcrafted by Aydar N.
// 2023
//
// me@aydar.media
//

.grid {
  & {
    display: grid;
    row-gap: 80px;
    column-gap: 60px;
  }

  &.three-rows {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  &.two-rows {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  > a {
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
  }

  > a > div > div {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 48px -10px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 48px -10px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 48px -10px rgba(34, 60, 80, 0.2);
  }
}
