// Handcrafted by Aydar N.
// 2023
//
// me@aydar.media
//

.mailing-list {
  & {
    margin-top: 80px;
  }
  > h1 {
    position: relative;
  }
  > div {
    position: relative;
    display: flex;
    margin-top: -40px;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
}
