// Handcrafted by Aydar N.
// 2023
//
// me@aydar.media
//

body.model-a {
  background-color: black;
}

body.model-a > div {
  padding: 0;
}

body.model-a .container {

  h1, h2, h3, h4, p {
    line-height: 1.2;
    font-weight: 400;
    font-size: initial;
    margin-top: 0;
    margin-bottom: 0;
  }

  *, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    background-color: black;
  }

  body > div {
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }

  .description {
    margin-top: 60px;
    overflow-x: hidden;
  }

  .description > div {
    margin: 0 auto;
    width: 846px;
  }

  .description h1, .description p {
    font-family: 'Inter', sans-serif;
    color: white;
    margin-bottom: 10px;
  }

  .description h1 {
    width: 100%;
    font-weight: 500;
    font-size: 56px;
    min-height: 80px;
  }

  .description .fontswap:hover {
    font-family: 'Skip Display', sans-serif;
  }

  .description p {
    font-weight: 200;
    font-size: 22px;
    width: 60%;
  }

  @keyframes timeline-cycle {
    to {
      background-position: -162px;
    }
  }

  .description .circle {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: image-url('model_a/timeline.svg');
    background-position: left center;
    background-size: auto 100%;
    bottom: 10px;
    left: calc(50% + 322px);
    animation: timeline-cycle 2s steps(4) 0s infinite;
  }

  p .enforce {
    font-weight: 400;
  }

  .inline {
    position: absolute;
    opacity: 0;
  }

  .inline:hover {
    opacity: 1;
  }

  .inline#a {
    top: 145px;
    left: calc(50% - 65px);
    height: 24px;
  }

  .inline#b {
    top: 145px;
    left: calc(50% - 325px);
    height: 24px;
  }

  .inline#c {
    top: 170px;
    left: calc(50% - 185px);
    height: 24px;
  }

  .inline#d {
    top: 170px;
    left: calc(50% - 332px);
    height: 24px;
  }

  .snowfall {
    height: 580px;
    overflow: hidden;
    margin-top: 120px;
  }

  .model-container {
    margin-top: 80px;
    overflow: hidden;
  }

  .model-container .title-container {
    margin: 0 auto;
    width: 1094px;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .title-container img {
    height: 24px;
  }

  .bricks-parent {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
    margin-top: 100px;
  }

  .bricks {
    z-index: 1;
    display: flex;
    align-content: center;
    position: relative;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes scroll-rl {
    from {
      margin-left: 1800px;
    }
    to {
      margin-left: 0;
    }
  }

  @keyframes scroll-lr {
    from {
      margin-left: 0;
    }
    to {
      margin-left: 1800px;
    }
  }

  .bricks#b {
    animation-name: scroll-rl;
  }

  .bricks#a, .bricks#c {
    animation-name: scroll-lr;
  }

  .bricks#c {
    animation-duration: 5s;
  }

  .brick {
    width: 900px;
    height: 105px;
    background-color: black;
    border-radius: 9px;
    position: relative;
    z-index: 2;
  }

  .brick:hover {
    background-color: white;
  }

  .brick img {
    position: absolute;
    left: 18px;
    top: 14px;
    width: 96%;
  }

  .brick .active {
    display: none;
  }

  .brick:hover .active {
    display: initial;
  }

  .brick:hover .inactive {
    display: none;
  }

  .logo-small-container {
    margin-top: 80px;
    margin-bottom: 40px;
    overflow: hidden;
  }

  .logo-small-container img {
    height: 80px;
  }

  .logo-small-container a {
    font-family: 'Inter', sans-serif;
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: 400;
    right: 56px;
    bottom: 4px;
    text-decoration: none;
  }

  .logo-small-container a:hover {
    color: gray;
  }

  // Snowfall

  .snowflake {
    position: absolute;
    background-color: white;
    border-radius: 17px;
    padding: 10px 30px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: -200px;
  }

  .snowflake h1 {
    font-family: 'Skip Display', sans-serif;
    font-size: 34px;
    margin-top: 6px;
    margin-left: 2px;
    color: black;
  }

  .snowflake:hover {
    animation-play-state: paused;
    background-color: black;
  }

  .snowflake:hover h1 {
    color: white;
  }

  .snowflake.a {
    animation-name: fall, rotate-a;
    animation-duration: 12s;
  }

  .snowflake.b {
    animation-name: fall, rotate-b;
    animation-duration: 8s;
  }

  .snowflake.c {
    animation-name: fall, rotate-c;
    animation-duration: 6s;
  }

  .snowflake.d {
    animation-name: fall, rotate-d;
    animation-duration: 4s;
  }

  .snowflake.e {
    animation-name: fall, rotate-e;
    animation-duration: 5s;
  }

  .snowflake.f {
    animation-name: fall, rotate-f;
    animation-duration: 7s;
  }

  .snowflake.g {
    animation-name: fall, rotate-g;
    animation-duration: 10s;
  }

  .snowflake.h {
    animation-name: fall, rotate-h;
    animation-duration: 13s;
  }

  @keyframes fall {
    from {
      top: -200px;
    }
    to {
      top: 780px;
    }
  }

  @keyframes rotate-a {
    from {
      transform: rotate(-9deg);
    }
    to {
      transform: rotate(6deg);
    }
  }

  @keyframes rotate-b {
    from {
      transform: rotate(15deg);
    }
    to {
      transform: rotate(2deg);
    }
  }

  @keyframes rotate-c {
    from {
      transform: rotate(-20deg);
    }
    to {
      transform: rotate(-8deg);
    }
  }

  @keyframes rotate-d {
    from {
      transform: rotate(-20deg);
    }
    to {
      transform: rotate(20deg);
    }
  }

  @keyframes rotate-e {
    from {
      transform: rotate(-20deg);
    }
    to {
      transform: rotate(5deg);
    }
  }

  @keyframes rotate-f {
    from {
      transform: rotate(30deg);
    }
    to {
      transform: rotate(20deg);
    }
  }

  @keyframes rotate-g {
    from {
      transform: rotate(-20deg);
    }
    to {
      transform: rotate(10deg);
    }
  }

  @keyframes rotate-h {
    from {
      transform: rotate(-30deg);
    }
    to {
      transform: rotate(-20deg);
    }
  }

  .snowflake#lo1 {
    left: calc(50% - 460px);
    animation-delay: 1s;
  }

  .snowflake#lo2 {
    left: calc(50% - 160px);
    animation-delay: 4s;
  }

  .snowflake#ye1 {
    left: calc(50% - 380px);
    animation-delay: 0s;
  }

  .snowflake#ye2 {
    left: calc(50% - 110px);
    animation-delay: 6s;
  }

  .snowflake#to1 {
    left: calc(50% + 120px);
    animation-delay: 1s;
  }

  .snowflake#to2 {
    left: calc(50% + 180px);
    animation-delay: 2s;
  }

  .snowflake#sk1 {
    left: calc(50% + 220px);
    animation-delay: 3s;
  }

  .snowflake#sk2 {
    left: calc(50% - 220px);
    animation-delay: 4s;
  }

  .snowflake#sk3 {
    left: calc(50% - 540px);
    animation-delay: 1s;
  }

  .snowflake#th1 {
    left: calc(50% - 220px);
    animation-delay: 2s;
  }

  .snowflake#th2 {
    left: calc(50% - 360px);
    animation-delay: 3s;
  }

  .snowflake#tm1 {
    left: calc(50% - 180px);
    animation-delay: 4s;
  }

  .snowflake#tm2 {
    left: calc(50% - 640px);
    animation-delay: 5s;
  }

  .snowflake#no1 {
    left: calc(50%);
    animation-delay: 1s;
  }

  .snowflake#no2 {
    left: calc(50% + 165px);
    animation-delay: 2s;
  }

  .snowflake#fa1 {
    left: calc(50% + 35px);
    animation-delay: 3s;
  }

  .snowflake#fa2 {
    left: calc(50% - 255px);
    animation-delay: 4s;
  }

  .snowflake#sp1 {
    left: calc(50% + 175px);
    animation-delay: 5s;
  }

  .snowflake#sp2 {
    left: calc(50% - 526px);
    animation-delay: 2s;
  }

  .snowflake#so1 {
    left: calc(50% - 360px);
    animation-delay: 3s;
  }

  .snowflake#so2 {
    left: calc(50% - 300px);
    animation-delay: 4s;
  }

  .snowflake#sl1 {
    left: calc(50% - 510px);
    animation-delay: 5s;
  }

  .snowflake#sl2 {
    left: calc(50% - 140px);
    animation-delay: 2s;
  }

  .snowflake#qu1 {
    left: calc(50% - 675px);
    animation-delay: 1s;
  }

  .snowflake#qu2 {
    left: calc(50% - 190px);
    animation-delay: 4s;
  }

  .snowflake#ja1 {
    left: calc(50% - 420px);
    animation-delay: 3s;
  }

  .snowflake#ja2 {
    left: calc(50% + 26px);
    animation-delay: 2s;
  }

  .snowflake#mi1 {
    left: calc(50% + 286px);
    animation-delay: 5s;
  }

  .snowflake#mi2 {
    left: calc(50% - 86px);
    animation-delay: 6s;
  }

  // Three

  .model-container .three {
    margin: 60px auto;
    width: 1098px;
    height: 1098px;
    position: relative;
  }

  .three .model {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .three .placeholder {
    display: none;
    z-index: 3;
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .three .gradient {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(black 14%, #ffffff00 100%);
  }

  @keyframes rotate-cw {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate-ccw {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0);
    }
  }

  .round {
    position: absolute;
    z-index: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .round#a, .round#b, .round#e, .round#g {
    animation-name: rotate-cw;
  }

  .round#c, .round#f {
    animation-name: rotate-ccw;
  }

  .round#a {
    width: 100%;
    animation-duration: 18s;
  }

  .round#b {
    width: 86%;
    top: calc(50% - 43%);
    left: calc(50% - 43%);
    animation-duration: 12s;
  }

  .round#c {
    width: 72%;
    top: calc(50% - 36%);
    left: calc(50% - 36%);
    animation-duration: 24s;
  }

  .round#e {
    width: 58%;
    top: calc(50% - 29%);
    left: calc(50% - 29%);
    animation-duration: 8s;
  }

  .round#f {
    width: 45%;
    top: calc(50% - 22.5%);
    left: calc(50% - 22.5%);
    animation-duration: 10s;
  }

  .round#g {
    width: 33%;
    top: calc(50% - 16.5%);
    left: calc(50% - 16.5%);
    animation-duration: 5s;
  }
}
