// Handcrafted by Aydar N.
// 2023
//
// me@aydar.media
//

body.model-a {
  & {
    background-color: black;
  }

  * {
    border-color: white !important;
  }

  nav {
    background-color: black;
    border-color: white;
  }

  nav h2 {
    color: white;
    border-color: white;
  }

  nav img {
    -webkit-filter: invert(1);
    filter: invert(1);
  }

  .container {
    h1, h2, h3, h4, p, a {
      color: white;
    }
  }

  > div {
    padding: 0;
  }

  .container {
    max-width: initial;
  }

  .title {
    margin-left: 28px;
  }

  iframe {
    position: relative;
    width: 100%;
    height: 2380px;
    overflow: hidden;
  }
}


