// Handcrafted by Aydar N.
// 2023
//
// me@aydar.media
//

body > nav {
  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 55px;
    padding: 10px 8px 10px 6px;
    border-right: solid black 1px;
    cursor: pointer;
  }
  a:last-of-type {
    border-right: none;
  }
  a > h2 {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
  }
  a > img {
    width: 95%;
    height: 14px;
  }
}
