// Handcrafted by Aydar N.
// 2023
//
// me@aydar.media
//

.news {
  & {
    z-index: 10;
  }
  > div {
    position: relative;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    gap: 180px;
    border-bottom: solid black 1px;
  }
  > div > div {
    max-width: 560px;
  }
  > div:last-of-type {
    border-bottom: none;
  }
  > div > img {
    width: 400px;
  }
  h3 {
    margin-top: -6px;
  }
  p {
    margin-top: 10px;
  }
  .button {
    position: absolute;
    bottom: 18px;
  }
}
