// Handcrafted by Aydar N.
// 2023
//
// me@aydar.media
//

.title {
  & {
    position: relative;
    height: 100vh;
  }
  > .content {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 26px;
    z-index: 1;
    width: calc(100vw - 276px);
    bottom: 0;
  }
  .button {
    position: absolute;
    top: 20px;
  }
  h1 {
    margin-top: auto;
  }
  p {
    width: 460px;
    margin-bottom: 40px;
    margin-left: 8px;
  }
}
